---
---
{% include css/base.css %}
{% include css/skeleton.css %}
{% include css/main.css %}
{% include css/lightbox.css %}


#top { background-image: url("img/lcr.jpg") }
#top { background-size: cover; }
#top { background-repeat: no-repeat; }

.p-player { 
  top: 30px;
  padding-left: 10%; 
  width: 50%; 
}

/* -- PIX -- */
.image-row {
  text-align: center; }

@media (min-width: 640px) {
  .image-row {
    text-align: center; } }

.example-image-link {
  display: inline-block;
  padding: 2px;
  margin: 0 0.5rem 1rem 0.5rem;
  background-color: #fff;
  line-height: 0;
  border-radius: 4px;
  transition: background-color 0.5s ease-out; }
  .example-image-link:hover {
    background-color: #4ae;
    transition: none; }

.example-image {
  width: 7rem;
  border-radius: 4px; }

#top .flex-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#top.hero {
  display: flex;
  height: 100vh;
  padding: 0;
}

#music .flex-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 3vw;
}

#music {
  background: url("img/space2.jpg") no-repeat center center;
  background-size: cover;
}

#music .flex-container iframe {
  padding: 1vw;
}
#pix {
  background: url("img/space2.jpg") no-repeat center center;
  background-size: cover;
}

#video{
  background: url("img/space2.jpg") no-repeat center center;
  background-size: cover;
}

nav {
  background-color: rgba(46,46,46,0.6);
}

.sectiondivider img {
  margin-top: 0;
  width: 100%;
}